

.box {
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    border: 3px solid #ffffff;
}

.text{
    text-align: center;
    color: #ffffff;
    font-size: calc(10px + 2vmin);
    font-family: 'Shantell Sans', cursive;
}

.textBox{
    background-color: #D1E7E3;
    width: 100px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
}

.icon{
    background-color: #318478;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
}